.skill {
  ul {
    display: none;
    margin-bottom: 1.2rem;

    &.active {
      display: block;
    }
  }

  h1 button {
    text-decoration: underline;
  }

  .active {
    text-decoration: none;
  }
}
